/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #666;
}

/* Section Styles */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

/* Parallax Effect */
.home-section {
  background-image: url('exp.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-section {
  background-image: url('exp2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.portfolio-section {
  background-image: url('project.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact-section {
  background-image: url('contact.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Glassmorphism Effect */
.content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

/* Portfolio Item Styles */
.portfolio-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
  width: 50%;
  border-radius: 10px;
}

.portfolio-item h3,
.portfolio-item p {
  margin-top: 10px;
}


